.comment-box{
    background-color: white;
    border: solid darkgreen 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.comment-box span{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}